/* :root {
  --background: #fff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  margin: 7px;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f7f7f7;
  padding-bottom: 60px; /* Space for fixed footer */
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header, .search-bar, .breaking-news-slider, .categories, .news-list, footer {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.breaking-news-item img, .news-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}



/* styles.css */
.skeleton {
  background-color: #e0e0e0; /* Light gray background */
  animation: pulse 1.5s infinite; /* Animation for a pulsing effect */
  border-radius: 8px; /* Rounded corners */
}

@keyframes pulse {
  0% {
      background-color: #e0e0e0;
  }
  50% {
      background-color: #d0d0d0; /* Slightly darker gray */
  }
  100% {
      background-color: #e0e0e0;
  }
}

.skeleton-header {
  height: 40px;
  width: 80%;
  margin-bottom: 10px;
}

.skeleton-image {
  height: 200px;
  margin-bottom: 10px;
}

.skeleton-paragraph {
  height: 20px;
  width: 90%;
  margin-bottom: 5px;
}