
.headerNav {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.headerNav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.hstyle {
  font-size: 24px;
  font-family: 'Merriweather', serif;
  margin: 0;
}

.subheader {
  font-size: 14px;
  color: #aaa;
}
