.search-bar {
    display: flex;
    padding: 15px;
    background-color: #f0f0f0;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
  }
  
  .filter-btn {
    background: none;
    border: none;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  